<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605590451889-rvbgdhvlnip739lt1njquigh7ktqd41u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605590451889-rvbgdhvlnip739lt1njquigh7ktqd41u</string>
	<key>API_KEY</key>
	<string>AIzaSyBUeOd3GsUwppGvrJiMVYLcaD8FatxTTm4</string>
	<key>GCM_SENDER_ID</key>
	<string>605590451889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spotifyClone</string>
	<key>PROJECT_ID</key>
	<string>dyzr-541db</string>
	<key>STORAGE_BUCKET</key>
	<string>dyzr-541db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605590451889:ios:289e6ee72a090c9246d490</string>
</dict>
</plist>